h1 {
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.1;
}
p {
    color: #333;
    font-family: "Open Sans",Verdana,sans-serif;
    font-size: 17px;
    line-height: 1.7;
}
.entry-content {
    margin-top: 40px;
}