
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-8">
      <h1>What is <span style="font-style: italics">Sense the IRL </span>all about?</h1>
      <div class="entry-content">
        <p>While data sample entry sites exist already for the "clean up the Indian River Lagoon initiative", that data is technical and can often require volunteers to purchase materials and equipment, or undergo technical training.</p>
        <p>This site focuses on the "softer" layer of community entered data. Where does a would-be volunteer without equipment or training go to contribute their observations? This site uses the human senses to collect soft data from the average human observer.</p>
        <p>From this data, technical volunteers might narrow down their search for where to collect samples rather than an entirely random sampling.</p>
        <p>In addition to assisting the technical volunteers, and potentially pulling information from the "hard" data sources, this site can display the health of the Indian River Lagoon similar to that of the weather channel for weather.</p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <img class="img" src="assets/images/irl-photo.jpg"/>
    </div>
  </div>
</div>
